@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
header{
    display: flex;
    width: 100;
    height: 50px;
    background-color: #F5F5F6;
    justify-content: space-around;
    align-items: center;
}
.imgb{
    width: 89px;
    height: 23px;
}
.list{
    width: 50%;
    list-style-type: none;
    padding-left: 75px;
    display: flex;
    justify-content: space-between;
}
.list li{
    color: #959BA4;
    font-weight: 500;
    flex-direction: column;
}
.button{
    font-weight: 500; 
    width: 58px;
    height: 33px;
    border: none;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.button:hover{
    background-color: #833AE0;
    color: white;
}
h1{
    font-weight: 700;
    margin-left: 350px;
    margin-top: 50px;
    font-size: 36px;
    margin-bottom: 45px;
}
.all{
    display: flex;
    justify-content: space-evenly;
}
.active{
    color: black !important;
}
#money{
    border: none;
    width: 225px;
    margin: 8px 10px;
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    padding-left: 10px;
}
.change{
    margin-top: 25px;
    width: 265px;
    height: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
p{
    margin-bottom: 10px;
}
span{
    display: inline-flex;
    border: 1px solid #e5e5e5;
    color:#c6c6c6;
    border-left: none;
    width: 66px;
    height: 28px;
    justify-content: center;
    align-items: center;
}
span:first-child{
    border-left: 1px solid #e5e5e5;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}
span:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}
.spankeeper{
    display: flex;
}
.change p{
    padding:10px 0 0 10px;
    color:#c6c6c6;

}
.yourmoney p{
    color: #9f9f9f;
}
.changeable p{
    color: #9f9f9f;
}
.active1{
    background-color:#833AE0;
}
.active2{
    background-color:#833AE0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }